body {
 background-image: url("books.jpg");
 background-color: #cccccc;
 margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color:rgb(245, 244, 243);
}

main{
  background-color: rgba(235, 190, 131, 0.85);
  /* opacity: 0.5; */
  border-radius: 25px;
}

button {
  border-radius: 5px;
  height: 40px;
  border: none;
}

input[type="text"] {
    width: 85%;
    height: 40px;
    background: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 5px;
    padding-left: 1em;
}

.bg-brown {
    background-color: rgb(184, 120, 38);
}